body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-top: 1px solid gray;
}

.comment_author {
  font-size: 16px;
  font-weight: 600;
}

.comment_text {
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

.comment_date_autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#button {
  text-align: center;
}

#button button {
  text-transform: uppercase;
  font-size: 13px;
}

span.current {
  font-weight: bold;
}

#pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_num {
  padding: 2px;
}

#form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

#form input, #form textarea, #form div {
  color: black;
  margin: 5px;
  border-radius: 5px;
}

#form input[type="text"] {
  max-width: 300px;
  background: #d3d3d3;
}

#form input#text, #form textarea {
  min-height: 200px;
  width: 100%;
  background: #d3d3d3;
  resize: none;
}

#form div {
  overflow: auto;
}

#form input[type="submit"] {
  width: 120px;
  padding: 10px;
  text-transform: uppercase;
  background: #517fff;
  border: 0;
  float: right;
}
